# general latex build output files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.synctex.gz
*.xdv
*.toc
*.bcf
*.run.xml
cv.bbl-SAVE-ERROR
cv.bcf-SAVE-ERROR

# template.tex output
# move to *.pdf once manual is done
*.pdf

# release tarballs
moderncv-*.tar.gz

# personal data
cover_letter.tex
data
research_publications.bib
